# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code, PyCharm, etc.
.idea/
.vscode/
*.swp

# Django-specific
*.log
local_settings.py
db.sqlite3
hadi_hesab_db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Coverage files
.coverage
