# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual environment
.env
venv/
env/

# IDE-specific files
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db


# Coverage data
.coverage
